$font-stack: -apple-system, Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.editor {
    border: 1px solid gray;
    min-height: 20px;
    margin: 5px;
    padding: 5px;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

